.majors {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  font-size: 14px;
  border-spacing: 0;
  border-collapse: collapse;
}
.thin_border {
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  padding: 2px 2px 2px 2px;
  margin: 0px;
  border-collapse: collapse;
}
.tan_cell {
  background-color: tan;
}
.gray_cell {
  background-color: lightgrey;
}
.zero {
  display: none;
}
.location {
  min-width: 200px;
}
.area {
  min-width: 100px;
}
.center {
  text-align: center;
}
