@import url("https://fonts.googleapis.com/css?family=Muli");
body {
   font-family: "Muli";
   background-color: black;
   color: rgb(210, 210, 210);
}
a {
   text-decoration: none;
   color: rgb(90, 173, 54);
}
#topic_header_grid {
   width: 90%;
   display: grid;
   grid-template-columns: 130px auto;
   grid-template-rows: 130px;
}
#header_img {
   grid-row: 1;
   grid-column: 1;
}
.header_text {
   position: relative;
   bottom: -48px;
   text-align: left;
   font-size: 22px;
   text-decoration: underline;
   text-decoration-color: rgb(90, 173, 54);
   grid-row: 1;
   grid-column: 2;
   min-width: 500px;
   z-index: -1;
}
#header_double_text {
   bottom: -28px;
}
#header img {
   width: 420px;
   height: 160px;
   opacity: 0.8;
   margin-bottom: 10px;
}
#main_header {
   font-size: 32px;
   padding-bottom: 10px;
   font-weight: bold;
}
#download {
   font-size: 26px;
   padding-bottom: 14px;
   font-weight: bold;
}
#dash_links {
   font-size: 22px;
   padding-bottom: 10px;
   font-weight: bold;
   font-variant: small-caps;
}
#schedule_notice {
   font-size: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
   font-weight: bold;
   font-style: italic;
   color: rgb(90, 173, 54);
}
.dash_source {
   padding-left: 30px;
}
#topic {
   font-size: 16px;
   width: 90%;
}
hr {
   border: 1px solid rgb(90, 173, 54);
   width: 92%;
   text-align: left;
   margin-left: 0px;
}
.utility {
   background-color: rgb(0, 255, 255);
   color: black;
}
.utility_inverse {
   background-color: black;
   color: rgb(0, 255, 255);
}
.suits {
   background-color: yellow;
   color: black;
}
.suits_inverse {
   color: yellow;
   background-color: black;
}
.placement {
   background-color: rgb(0, 255, 0);
   color: black;
}
.misc {
   background-color: rgb(209, 46, 187);
   color: black;
}
.misc_inverse {
   color: rgb(209, 46, 187);
   background-color: black;
}

.dash_changes {
   background-color: rgba(255, 0, 0, 0.45);
}

#seed-permalink {
   display: block;
}

#permalink-container {
   visibility: hidden;
}

#permalink-container.visible {
   visibility: visible;
}
