body {
   font-family: "Calibri";
   background-color: black;
   color: white;
}
a {
   text-decoration: none;
   color: rgb(90, 173, 54);
}
#header img {
   width: 480px;
   height: 214px;
   object-fit: cover;
   opacity: 0.85;
   padding-bottom: 10px;
}
#main_header {
   font-size: 32px;
   padding-bottom: 10px;
   font-weight: bold;
}
#download {
   font-size: 26px;
   padding-bottom: 14px;
   font-weight: bold;
}
#dash_links {
   font-size: 20px;
   padding-bottom: 10px;
   font-weight: bold;
}
#schedule_notice {
   font-size: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
   font-weight: bold;
   font-style: italic;
   color: rgb(90, 173, 54);
}
.dash_source {
   padding-left: 30px;
}
#topic {
   font-size: 18px;
   width: 90%;
}
hr {
   border: 1px solid rgb(90, 173, 54);
   width: 92%;
}
#topic_header {
   font-size: 24px;
   text-decoration: underline;
   padding-top: 10px;
   padding-bottom: 10px;
   font-weight: bold;
}
.utility {
   background-color: rgb(0,255,255);
   color: black;
}
.suits {
   background-color: yellow;
   color: black;
}
.placement {
   background-color: rgb(0,255,0);
   color: black;
}
.misc {
   background-color: rgb(122,122,122);
   color: black;
}
