.container {
  max-width: 1100px;
  padding: var(--spacer-8x) var(--spacer-4x);
  margin: 0 auto;
}

.grid {
  display: flex;
}

.sections {
  width: 70%;
}

.section + .section {
  margin-top: var(--spacer-4x);
}

.heading {
  padding-bottom: var(--spacer-4x);
  border-bottom: 1px solid #fff;
}
