.wrapper {
  border: 1px solid #fff;
  position: relative;
  padding: var(--spacer-2x) var(--spacer-6x);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  font-weight: 400;
  color: #fff;
  background-color: #000;
}

.wrapper:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.wrapper:disabled {
  color: rgb(99, 99, 99);
  background-color: transparent;
  border-color: rgb(51, 51, 51);
}