.gamesList {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.gamesList li {
  display: flex;
  gap: var(--spacer-6x);
  flex-direction: row;
  color: var(--color-muted);
}

@media (max-width: 600px) {
  .gamesList li {
    flex-direction: column-reverse;
    gap: 0;
  }
}

.gamesList li a {
  color: var(--color-highlight);
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: color 0.15s ease-in-out, text-decoration-color 0.15s ease-in-out;
}

.gamesList li a:hover {
  color: #77e7be;
  text-decoration-color: transparent;
}

.gamesList li p {
  font-size: 16px;
  line-height: 24px;
  margin: var(--spacer-4x) 0;
}

.gameTime {
  min-width: 180px;
  text-align: right;
}

.scheduleTitle {
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 var(--spacer-2x);
  text-align: center;
  color: var(--color-highlight);
}

@media (max-width: 600px) {
  .scheduleTitle {
    text-align: left;
    margin: 0;
  }

  .gameTime {
    text-align: left;
  }

  .gamesList li {
    margin: var(--spacer-4x) 0 var(--spacer-8x);
    border-bottom: 1px solid #222;
    padding: 0 0 var(--spacer-4x);
  }

  .gamesList li:last-child {
    border-bottom: none;
  }

  .gamesList li p {
    margin: 0;
  }

  .runnersTeam {
    display: block;
  }

  .gamesList li p br {
    display: none;
  }

  .gamesList li .gameTime p {
    margin: var(--spacer-4x) 0 0;
  }
}

/* Spring invitations */
.settingsTitle {
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 var(--spacer-8x);
  text-align: center;
  color: var(--color-highlight);
}

.settings {
  list-style: none outside none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  /* text-align: center; */
  gap: var(--spacer-4x);
}

.settings li {
  display: block;
  width: 30%;
}

.label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #808080;
}

.background {
  background-image: url(/spring-24-bg.jpeg);
  background-size: contain;
  position: fixed;
  top: -20%;
  left: 10%;
  width: 100%;
  height: 100%;
  z-index: -999;
  opacity: 0.3;
  background-repeat: no-repeat;
}

@media (max-width: 1500px) {
  .background {
    top: 0;
    left: 0;
    width: 110%;
  }
}

@media (max-width: 600px) {
  .background {
    display: none;
  }

  .settings li {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}
