.base {
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.size_compact {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.1px;
}

.size_small {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}

.size_medium {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.176px;
}

.size_large {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.456px;
}

.size_xlarge {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.88px;
}

.weight_default {
  font-weight: 400;
}

.weight_bold {
  font-weight: 700;
}

.family_mono {
  font-family: var(--type-mono);
}

.family_mono.size_small {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0;
}
