.thin_border {
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  padding: 5px 5px 5px 5px;
  margin: 0px;
  border-collapse: collapse;
}

.legacy_style {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  font-size: 0.75em;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

tr.header > th {
  font-weight: bold;
}

.tan_cell {
  background-color: tan;
}

.gray_cell {
  background-color: lightgrey;
}

.fixed_table {
  word-wrap: normal;
}

.condensed_cell {
  padding: 1px;
}

.boss_summary {
  width: 1100px
}

.boss_combo {
  display: inline-block; /* Allows setting width and height */
  width: 120px;          /* Fixed width */
  height: 30px;          /* Fixed height */
  /*overflow: hidden;*/      /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis if content overflows */
  white-space: nowrap;   /* Prevent text from wrapping */
  border: 1px solid #4062d39d; /* Optional: Adds a border */
  background-color: rgb(255, 250, 250);
  color: black;
  font-size: smaller;
  margin-right: 0px;     /* Optional: Space between spans */
  margin-bottom: 0px;
  line-height: 30px;     /* Center text vertically */
  text-align: center;    /* Center text horizontally */
}