.stats_panel {
  padding-top: 6px;
}

.stats_nav {
  padding-top: 6px;
}

.right_side {
  float: right;
  padding-right: 1em;
}

.fill_selector {
  padding-right: 1em;
}

.panel_selector {
  padding-right: 2em;
}
