.stats_panel {
  padding-top: 6px;
}

.stats_nav {
  padding-top: 6px;
}

.right_side {
  float: right;
  padding-right: 1em;
}

.fill_selector {
  padding-right: 6px;
}

.mode_selector {
  margin: 0px 6px;
}
