/*table {
  font-family: arial, sans-serif;
  font-size: 0.75em;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}*/

.thin_border {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  margin: 0px;
}

/*#stats > th {
  text-align: left;
  padding: 5px;
}*/

/*th.location {
  width: 10%;
}*/

tr.header > th {
  font-weight: bold;
}

/*#stats {
  width: 100%;
}*/

/*#panels {
  float: right;
  padding-right: 4em;
}*/
