.location {
  width: 240px;
  display: inline-block;
}

.item {
  display: inline-block;
}

.item_list {
  column-count: 3;
}

.major_item {
  color: red;
}

.minor_item {
  color: gold;
}

.boss_item {
  color: violet;
}