.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
  /* display: none; */
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
}

.dragContent {
  position: fixed;

}
