.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1100px; */
  max-width: 930px;
  margin: 0 auto;
}

.wrapper {
  border-bottom: 1px solid #222;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-style: italic;
  padding: 12px;
  color: #fff;
  width: 200px;
  display: block;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.navigation {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 1;
  font-size: 16px;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  display: block;
  color: #b6b9b3;
  padding: 24px 12px;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
}

.navigation a:hover,
.navigation a.active {
  color: #fff;
}

.social {
  display: flex;
  justify-content: center;
  gap: var(--spacer-4x);
}

.social .link {
  transition: opacity 0.15s ease-in-out;
  display: flex;
}

.social .link:hover {
  opacity: 0.5;
}
