.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.1px;
  text-transform: uppercase;
  font-style: italic;
  padding: 24px;
  color: #fff;
  width: 200px;
  display: block;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.navigation {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 0;
  font-weight: 200;
  letter-spacing: 0.32px;
  line-height: 1;
  font-size: 16px;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  display: block;
  color: #b6b9b3;
  padding: 24px 12px;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
}

.navigation a:hover {
  color: #fff;
}

.social {
  display: block;
  width: 200px;
}
