.text_hidden > * {
  background-color: white;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.text_notHidden > * {
  background-color: unset;
  color: unset;
  cursor: unset;
  transition: all 1s;
}

.text_hidden > *::selection {
  color: white;
  border-radius: 6px;
}